<main class="grid grid-flow-col  max-sm:grid-rows-3 mt-1  w-full"  > 

    

<div (click)="academy()"  class="first w-full h-screen flex items-center justify-center cursor-pointer"><span  class="text-white text-center font-serif p-4  text-7xl   w-full font-bold max-sm:text-3xl ">Academy</span></div>

<div (click)="courses()"  class="second w-full h-screen  flex items-center justify-center cursor-pointer"><span class="text-white text-center font-serif p-4  text-7xl   w-full font-bold max-sm:text-3xl ">Courses</span></div>



<div (click)="studio()"  class="third w-full h-screen  flex items-center justify-center cursor-pointer  " ><span class= "text-white text-center font-serif p-4  text-7xl   w-full font-bold max-sm:text-3xl">Studio</span></div>

</main>