

 <p style="letter-spacing: 0.3cm;"  class="text-center font-serif p-4  text-2xl   w-full font-bold max-sm:text-sm  bg-slate-100/50  ">Welcome To Music Academy</p>

  <header class=" flex flex-col justify-center items-center">


<div class="w-full flex justify-between items-center  max-[1029px]:justify-evenly  max-[1029px]:flex-col  max-[425px]:justify-items-end max-[425px]:mt-96   max-[1029px]:items-center">

  <div class=" w-2/6 h-3/5  m-10  flex items-center justify-center max-[1029px]:w-11/12  max-[685px]:h-4/5 max-[425px]:mt-48 ">
    <p class=" h-auto bg-slate-100/70 w-full text-center text-xl font-serif	 leading-loose p-2 max-[787px]:text-sm max-[685px]:text-sm  max-[787px]:bg-slate-100/90   "> {{text1}}</p></div>

    <div class=" w-2/6 h-3/5 max-[1029px]:w-11/12   m-10 	flex items-center justify-center  max-[425px]:hidden ">
        <p class="bg-slate-100/70  h-auto w-full text-center text-xl font-serif tracking-wide leading-loose p-2 max-[787px]:text-xs  max-[787px]:bg-slate-100/90 "> {{text2}}</p></div>



</div>




  </header>

<main class="flex justify-center max-[685px]:items-center ">

  <div class=" w-4/6  h-1/5 mt-6  flex items-center justify-center max-[685px]:w-11/12  ">
    <p class="   w-full h-auto text-center text-base font-sans	tracking-wide p-2 bg-slate-100/70  max-[1091px]:text-sm max-[887px]:text-xs max-[787px]:bg-slate-100/90  ">{{text3}} </p>

  </div>

</main>


<app-navbar2></app-navbar2>

